@import "variables";

.close-btn {
  position: absolute;
  top: 0;
  right: 0;

  color: $blue;
  font-size: 30px;
  cursor: pointer;
  transition: .2s;

  &:hover {
    color: $red;
  }
}

.icon-move-1 {
  position: absolute;
  bottom: 54px;
  font-weight: 700;
  right: 3px;
  font-size: $fontSize24;
  cursor: grab;
}

.close {
  display: none !important;
}

.open {
  display: flex !important;
}

.opacity-04 {
  opacity: .4;
}

.modal {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  animation-name: show-modal;
  animation-duration: 0.4s;
}

.modal-block {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 400px;
  z-index: 200;
}

.modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 150;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

@keyframes show-modal {
  from {
    top: -320px;
  }
  to {
    top: 0;
  }
}
