$fontRoboto: 'Roboto', sans-serif;

$blueGreen: #00B800;
$blue: #0000b8;
$darkBlueGreen: #00B800;
$blue: #00B800;
$darkBlue: #608ab8;
$white: #rgba(0,0,0,0.5);
$lightGrey: #f1f1f1;
$grey: #9E9C9C;
$dropdownGreyHover: #ddd;
$dropdownBorderHover: #cac8c8;
$green: #00B800;
$black: black;
$red: red;
$aquamarine: aquamarine;

$fontSize11: 11px;
$fontSize12: 12px;
$fontSize13: 13px;
$fontSize14: 14px;
$fontSize15: 15px;
$fontSize16: 16px;
$fontSize18: 18px;
$fontSize20: 20px;
$fontSize22: 22px;
$fontSize24: 24px;
$fontSize28: 28px;
$fontSize34: 34px;


